:where(*, *::before, *::after) {
  color: var(--color-text);
}

::selection {
  background-color: var(--dark-6);
  color: var(--color-text-on-dark);
}

:where(:focus-visible) {
  outline-color: var(--color-focus);
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 2px;
}

:where(body) {
  position: relative;
  overflow-x: hidden;
  background-color: var(--light-2);
  font-weight: var(--font-weight-body);
  font-size: var(--text-body);
  font-family: var(--font-body);
}

:where(h1, h2, h3, h4, h5, h6) {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-heading);
}

:where(h1) {
  font-size: var(--text-heading-1);
}

:where(h2) {
  font-size: var(--text-heading-2);
}

:where(h3) {
  font-size: var(--text-heading-3);
}

:where(h4) {
  font-size: var(--text-heading-4);
}

:where(h5) {
  font-size: var(--text-heading-5);
}

:where(h6) {
  font-size: var(--text-heading-6);
}

:where(a) {
  color: var(--blue-4);
  font-weight: var(--font-weight-medium);
  text-decoration: underline;
  text-decoration-color: transparent;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 0.15em;
  transition-duration: 125ms;
  transition-property: text-decoration-color;
  transition-timing-function: ease;
}

:where(a:hover) {
  text-decoration-color: var(--color-accent-on-hover);
}

:where(#app) {
  display: grid;
  grid-template-columns:
    1fr
    min(var(--app-container), calc(100% - var(--spacing-md) * 2))
    1fr;
  row-gap: var(--spacing-xl);
  align-content: stretch;
  align-items: start;
  min-height: 100vh;
  padding-block-start: var(--spacing-xl);
}

:where(#app) > * {
  grid-column: 2;
}
