:where(*, *::before, *::after) {
  box-sizing: border-box;
}

:where(html) {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

:where(html:focus-within) {
  scroll-behavior: smooth;
}

:where(body, h1, h2, h3, h4, h5, h6, p, figure, blockquote, dl, dd) {
  margin-block: 0;
}

:where(ul[role='list'], ol[role='list']) {
  margin-block: 0;
  padding-inline-start: 0;
  list-style: none;
}

:where(body) {
  min-height: 100vh;
  margin: 0;
  line-height: var(--line-height-body);
}

:where(h1, h2, h3, h4, h5, h6, button, input, label) {
  line-height: var(--line-height-heading);
}

:where(h1, h2, h3, h4, h5, h6) {
  text-wrap: balance;
}

:where(a:not([class])) {
  color: currentColor;
  text-decoration-skip-ink: auto;
}

:where(img, picture) {
  display: block;
  inline-size: 100%;
  max-inline-size: 100%;
}

:where(input, button, textarea, select) {
  font-size: inherit;
  font-family: inherit;
}

:where(textarea:not([rows])) {
  min-height: 10em;
}

:where(:target) {
  scroll-margin-block: 5ex;
}

@media (prefers-reduced-motion: reduce) {
  :where(html:focus-within) {
    scroll-behavior: auto;
  }

  :where(*, *::before, *::after) {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}
