/* Tier 1 */
:root {
  /* Colors */
  --dark-9: #141414;
  --dark-7: #1f1f1f;
  --dark-6: #292929;
  --gray-5: #71717a;
  --light-4: #c4c6c6;
  --light-3: #e5e5e5;
  --light-2: #fdfdfd;
  --blue-6: #1c5e99;
  --blue-4: #4292d9;
  --green-5: #2c6e49;
  --green-4: #4c956c;
  --red-6: #aa2d22;
  --red-5: #cc3629;

  /* Font */
  --text-sm: clamp(0.8333rem, 0.7727rem + 0.303vw, 1rem);
  --text-md: clamp(1rem, 0.9545rem + 0.2273vw, 1.125rem);
  --text-lg: clamp(1.2rem, 1.1761rem + 0.1193vw, 1.2656rem);
  --text-xl: clamp(1.4238rem, 1.4459rem + -0.0294vw, 1.44rem);
  --text-2xl: clamp(1.6018rem, 1.7739rem + -0.2294vw, 1.728rem);
  --text-3xl: clamp(1.802rem, 2.1724rem + -0.4938vw, 2.0736rem);
  --text-4xl: clamp(2.0273rem, 2.656rem + -0.8382vw, 2.4883rem);

  /* Typography */
  --font-family-nunito: 'Nunito', sans-serif;
  --font-family-archivo: 'Archivo', sans-serif;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --line-height-narrow: 1.1;
  --line-height-regular: 1.6;

  /* Size */
  --size-xs: 0.25rem; /* 4px */
  --size-sm: 0.5rem; /* 8px */
  --size-md: 1rem; /* 16px */
  --size-lg: 2rem; /* 32px */
  --size-xl: 4rem; /* 64px */

  /* Shadows */
  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-md: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-xl:
    0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

  /* Measurement */
  --container-xxl: 1400px;
}

/* Tier 2 */
:root {
  /* Colors */
  --color-text: var(--dark-9);
  --color-text-on-dark: var(--light-2);
  --color-accent: var(--blue-4);
  --color-accent-on-hover: var(--blue-6);
  --color-success: var(--green-4);
  --color-success-on-hover: var(--green-5);
  --color-danger: var(--red-5);
  --color-danger-on-hover: var(--red-6);
  --color-focus: var(--blue-4);

  /* Font */
  --text-heading-1: var(--text-4xl);
  --text-heading-2: var(--text-3xl);
  --text-heading-3: var(--text-2xl);
  --text-heading-4: var(--text-xl);
  --text-heading-5: var(--text-lg);
  --text-heading-6: var(--text-md);
  --text-body: var(--text-md);
  --text-small: var(--text-sm);

  /* Typography */
  --font-body: var(--font-family-nunito);
  --font-heading: var(--font-family-archivo);
  --font-weight-body: var(--font-weight-regular);
  --font-weight-heading: var(--font-weight-medium);

  --line-height-heading: var(--line-height-narrow);
  --line-height-body: var(--line-height-regular);

  /* Spacing */
  --spacing-xs: var(--size-xs);
  --spacing-sm: var(--size-sm);
  --spacing-md: var(--size-md);
  --spacing-lg: var(--size-lg);
  --spacing-xl: var(--size-xl);

  /* Border */
  --border-xs: var(--size-xs);
  --border-sm: var(--size-sm);
  --border-md: var(--size-md);
  --border-lg: var(--size-lg);
  --border-xl: var(--size-xl);
  --border-rounded: 999rem;

  /* Measurement */
  --app-container: var(--container-xxl);
}
